
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Michroma&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;
}
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    background-image: url(./bilder/nedladdning\ \(1\).jpg);
    background-attachment: fixed;
}
div.kontainer {
    width: 1000px;
    margin: auto;
    border-color: var(--silver-lake-blue);
      font-family: "Instrument Serif", serif;
}
div.nummer {
    margin-right: 40px;
    display: flex;
    background-color: black;
    margin-bottom: 40px;
    padding: 30px;
    border-color: var(--yinmn-blue)
}
img {
    border: solid 2px;
    margin-bottom: 40px;
    width: 300px;
    border-radius: 5px;
    margin-right: 40px;
    border-color: var(--silver-lake-blue);
}

p.text1 {

    margin-bottom: 100px;
    color: white;
    margin-right: 40px;
}
p.text2 {
    margin-bottom: 40px;
    color: white;
}
p.text3 {
    margin-bottom: 40px;
    color: white;
}
h1 {
    letter-spacing: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}
h2 {
    margin-right: 40px;
    text-align: center;
    border: solid 1px;
    letter-spacing: 8px;
    color: white;
    font-size: x-large;
    margin-bottom: 20px;
    width: 1000px;
}
ul {
    color: white;
    margin-right: 40px;
}