/* font för brödtexten */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font för rubriken */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&display=swap');

:root {
    --punch-red: #e71d36ff;
    --rusty-spice: #af4319ff;
    --dark-wine: #772014ff;
    --dark-coffee: #3f220fff;
    --pitch-black: #19180aff;
    --dark-wine: #6f1d1bff;
    --camel: #bb9457ff;
    --dark-coffee: #432818ff;
    --chocolate-brown: #99582aff;
    --light-apricot: #ffe6a7ff;
}

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    /* backgrundsbild */
    background-image: url(./bilder/geissht-U9YwwN7Xr24-unsplash.jpg);
}

.kontainer {

    width: 800px;
    /* bredd på kontainer */
    background-color: var(--chocolate-brown);
    /* backgrunds färg i kontainer */
    margin: auto;
    /* sätter kontainern i mitten */
    margin-top: 40px;
    /* används för att göra mellanrum från kontainern och tak */
    border-radius: 10px;
    /* för rundade hörn  */
    border: 10px solid white;
    /* skapar en border runt kontainern  */
}

.kontainer h1 {
    padding-top: 30px;
    /* mellanrum mellan kontainerns tak och h1 */
    text-align: center;
    /* centrera text */
    font-size: 60px;
    /* större text */
    margin-bottom: 20px;
    /* mellanrum mellan h1 och h3 som är under */
    font-family: "Pinyon Script", cursive;
    /* text stil */
}

.kontainer .meny a.aktiv {
    color: var(--dark-wine);
    /* färg på den aktiva menyn */
}

.kontainer .meny {
    display: flex;
    /* lägger allt i en rad */
    justify-content: center;
    /* lägger allt i mitten  */
    gap: 20px;
    /* avstånd mellan menyerna */
    padding-top: 20px;
    /* avstånd mellan rubriken och h3 */
}

.kontainer .meny a {
    text-decoration: none;
    /* tar bort allt extra på länken */
    color: black;
    /* färg */
    border: 1px solid white;
    border-width: 3px;
    /* tjoklek på bordern */
    width: 150px;
    /* bredd på border */
    padding: 5px 10px 5px 10px;
    /* luft rum i meny rutorna */
    border-radius: 10px;
    /* rundade hörn */
    text-align: center;
    /* centrerar texten i mitten av meny rutan */
    font-family: "Funnel Sans", sans-serif;
}

.kontainer .meny a:hover {
    color: var(--dark-wine);
    /* färg när man har pekaren på menyn */
}

.kontainer img {
    height: 150px;
    /* bild höjd */
    width: 350px;
    /* bild bredd */
    display: block;
    /* bild i mitten */
    margin: 30px auto;
    /* bild i mitten och 30px ned på y axeln */
    border: 5px solid white;
    /* skapar en border  */
    border-radius: 10px;
}

.kontainer .Lussebullar {
    height: 200px;
    /* höjd */
    width: 350px;
    /* bredd  */
    display: block;
    /* bild i mitten */
    margin: 30px auto;
    /* bild i mitten och 30px ned på y axeln */
    border: 5px solid white;
    /* skapar en border  */
}

.kontainer h2 {
    text-align: center;
    /* centrerar texten i mitten av meny rutan */
    font-size: 30px;
    /* text storlek */
    margin-top: 30px;
    font-family: "Pinyon Script", cursive;
}

.kontainer .box .ingredienser ul {
    padding-left: 22px;
    /* flyttar listan till höger */
}

.kontainer .box .ingredienser li {
    margin: 10px;
    /* mellan rum mellan punkterna */
}

.kontainer .box .instruktioner h3 {
    margin: 20px 0px 0px 20px;
    /* mellanrum */
}

.kontainer .box .ingredienser h3 {
    margin: 20px 0px 0px 20px;
    /* mellanrum */
}

.kontainer .box .instruktioner li {
    margin: 10px;
}

.kontainer .box .ingredienser {
    border: 5px solid white;
    font-size: 20px;
    /* storlek på text */
    line-height: 1.5;
    /* mellanrum mellan rader(denna rad är kopierad) */
    border-radius: 10px;
    /* rundade hörn  */
}

.kontainer .box .instruktioner {
    border: 5px solid white;
    /* border */
    padding: 10px;
    border-radius: 10px;
}

.kontainer .box {
    display: grid;
    /* för att skapa kolumner */
    grid-template-columns: 1fr 1fr;
    /* antal kolumner */
    gap: 5px;
    /* mellanrum mellan kolumn */
    max-width: 650px;
    /* max bredd */
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: "Funnel Sans", sans-serif;
}

a {
    /* använder display flex så att jag sedan kan använda justify content */
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    /* text storlek */
    padding-bottom: 5px;
    border-top: 1px solid white;
    /* border */
    text-decoration: none;
    font-family: "Funnel Sans", sans-serif;
}

.kontainer .ingredienserknack {
    margin-left: 100px;
    /* för att skapa mellanrum */
    border: 5px solid white;
    /* border */
    font-size: 20px;
    /* storlek på text */
    border-radius: 10px;
    /* rundade hörn */
    text-align: center;
    /* sätter texten i mitten */
    width: 180px;
    /* bredd */
    margin: 0 auto;
    padding-top: 10px;
    /* för att skapa mellanrum */
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.kontainer .ingredienserknack li {
    margin-left: 20px;
}

.kontainer h3 {
    text-align: center;
    /* sätter texten i mitten */
    font-size: 20px;
    /* text storlek */
    margin-bottom: 20px;
}

.kontainer .boxknack {
    display: grid;
    /* grid för att skapa kolumner */
    grid-template-columns: 1fr 1fr;
    /* antal kolumner */
    gap: 20px;
    /* avstånd */
    width: 500px;
    /* bredd */
    margin: 0 auto;
}

.kontainer .instruktion1 .instruktion {
    border: 3px solid white;
    /* border */
    text-align: center;
    /* sätter texten i mitten */
    width: 250px;
    /* bredd */
    margin: 20px auto;
    border-radius: 5px;
    /* rundade hörn */
}

.kontainer .instruktioner h4 {
    text-align: center;
    /* sätter texten i mitten */
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    /* border */
    border-radius: 5px;
    /* rundade hörn */
}

.kontainer .instruktioner p {
    /* skapar en border */
    border: 1px solid white;
    /* border */
}

.kontainer .ingredienserknack h3 {
    text-align: center;
    /* sätter texten i mitten */
}